body {
  background-color: #252525;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1rem 1rem;
  text-align: center;
}

a {
  color: white;

  &:focus,
  &:hover {
    color: orange;
  }
}

.background {
  background-image: url('/images/roadtocode.jpg');
  width: 100%;
    height: 600px;
  background-size:cover;
}

.Portfolio {
  background-image: url('/images/alps2.jpg');
  width: 100%;
    height: 600px;
    background-size: cover;
    padding-top: 50px;
}

.Portfolio2 {
  background-color: #101010;
  opacity: 0.5;
  width: 70%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
}

.Aboutme {
  background-color: #323232;
  width: 70%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.Contact {
  background-color: #323232;
  width: 50%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: black;
        opacity: 0.5;
    }


    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        background-color: #333;
        text-align: center;
        padding: 30px 36px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
