.row
  %br
  .large-12.Aboutme.columns
    %br
    %h2 About me!
    I'm 20 years old and study at Craft Academys Bootcamp,
    %br
    basically a camp when you learn to code in 12 weeks.
    %br
    Welcome to my first website, you can see my projects here!
    %br
    You can contact me if you are interested in my work or have some questions.
