.navigation#home
  %ul
    %li
      %a.Home{href: "#home"} Home
    %li
      %a{href: "#portfolio"} Portfolio
    %li
      %a{href: "#contact"} Contact
    %li
      %a{href: "#about_me"} About me

.row
  .large-12.background.columns
