.navigation
  %ul
    %li
      %a.Home{href: "#Home"} Home
    %li
      %a{href: "#Portfolio"} Portfolio
    %li
      %a{href: "#contact"} Contact
    %li
      %a{href: "#Aboutme"} About me

.row
  .large-12.background.columns
