.row#portfolio
  %br
  .large-12.portfolio.columns
    .large-12.portfolio2.columns
      - data.projects.each do |project|
        %br
        %h4= project[:name]
        %p= project[:description]
        %a{href: project[:link]}= project[:link]


.projects
